.App {
  text-align: center;
}

.wechat {
  height: 160px;
  width: 160px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-content: center;
}

.welcome > p {
  margin: 7px 13px;
  color: gold;
  font-size: 42px;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  margin: 20px
}