.App {
  text-align: center;
  color: bisque;
}

.wechat {
  height: 160px;
  width: 160px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-content: center;
}

.welcome > p {
  margin: 7px 13px;
  color: gold;
  font-size: 42px;
}

.form__container {
  display: flex;
  justify-content: center;
}
.app__form {
  border-radius: 20px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 75%;
  margin: 20px
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
  justify-content: center;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

